{
  "env": {
    "development": {
      "presets": ["env", "react", "stage-0", ["es2015", {"modules": false}]],
      "plugins": [
        "transform-class-properties",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["es2015"]
    }
  }
}
